html {
    //background-image: url("./img/background1.jpg");
    background-attachment: fixed;
    background-size: cover;
}

p {
    color : #d20004;
    font-size: larger;
    margin-top: 5px;
}

#presentation {
    background-color: aliceblue;
    width: 304px;
    margin-left: 40%;
    margin-right: auto;
}

#info{
    margin-top: 0.1em;
}
#info>p{
    color:black;
    margin-bottom: 0.2em;
    margin-left: 0.3em;
}